$bg-color: #16161a;
$headline: #fffffe;
$paragraph: #94a1b2;
$link: #7f5af0;
$card-bg: #16161a;
$card-headline: #fffffe;
$card-paragraph: #94a1b2;
$container-width: 1170px;
$button: #7f5af0;
$button-text: #fffffe;