@import '../../styles/main';

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  gap: 2rem;

  @include respond (phone) {
    height: 100%;
  }
}

.header {
  @include respond (phone) {
    display: flex;
    align-self: flex-start;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  @include respond (phone) {
    flex-direction: column;
  }

  input {
    width: 5rem;
    height: 5rem;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }

    &:hover {
      border-radius: 100px;
      box-shadow: 0 0 20px #ccc;
    }

    @include respond (phone) {
      width: 3rem;
      height: 3rem;
    }
  
  }
}

.about-card {
  background-color: #242629;
  height: 35rem;
  width: 45rem;
  border: 1px solid $link;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 20px 0 20px;
  border-radius: 20px;
  overflow: auto;

  @include respond (notebook) {
    height: 20rem;
  }

  @include respond (tab-port) {
    width: 31rem;
  }

  @include respond (phone) {
    height: 35rem;
    width: 23rem;
    overflow: auto;
  }

  .title {
    color: $headline;
    font-size: 2rem;
    text-align: center;
  }

  .paragraph {
    font-size: 1.5rem;
    color: $paragraph;
    text-align: justify;
  }
}

#light .title {
  color: black;
}

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #242629;;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #242629;
  border-radius: 10px;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 30px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}