@import '../../styles/main';

.project-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  gap: 2rem;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include respond (tab-port-medium) {
    flex-direction: column;
  }
}

.button-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  input {
    width: 4rem;
    height: 4rem;
    transition: .6s;

    &:disabled {
      cursor: not-allowed;
    }

    &:hover {
      border-radius: 100px;
      box-shadow: 0 0 20px #ccc;
    }
  }
}

.buttons-arrow {
  display: flex;
  gap: 0.5rem;
}

.card-project {
  width: 20rem;
  height: 24rem;
  border: 1px solid $link;
  padding: 0 4px 0 4px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  h1 {
    text-align: center;
    color: $headline;
  }
}

.nav-projects {
  display: flex;
  gap: 1rem;
  a {
      border: 1px solid $link;
      color: $button-text;
      cursor: pointer;
      padding: 7px;
      border-radius: 10px;
      transition: .3s;

      &:hover {
        border: 1px solid white;
        color: $link;
      }
  }
}

.bamin-options {
  display: flex;
  justify-content: space-around;
  width: 100%;

  div {
    border: 1px solid white;
    color: $button-text;
    padding: 7px;
  }

  button {
    border: 1px solid $link;
    color: $button-text;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    transition: .3s;

    &:hover {
      border: 1px solid white;
      color: $link;
    }
  }
}

.stacks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}