@import '../../styles/main';

.modal-cover {
  height: 100vh;
  background: rgba(0, 0, 0, .7);
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  width: 35rem;
  height: 35rem;
  padding: 0 10px 0 10px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid $link;

    button {
      color: white;
      font-size: 2rem;
      font-weight: bold;
      z-index: 10;
      margin-left: 500px;
    }

    p {
      font-size: 1.2rem;
      color: $paragraph;
      text-align: justify;
    }
}