@import './styles/main';

.dark-mode {
  background-color: $bg-color;
}

.light-mode {
  background-color: #FAFAFB;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-size: 1rem;
}

a {
  margin: 0;
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}